@model IEnumerable<SaludPublica.Models.Diagnostico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Paciente.Nombre @item.Paciente.Apellido
            </td>
            <td>
                @item.Enfermedad.Nombre
            </td>
            <td>
                @item.Doctor.Email
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiagnosticoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiagnosticoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiagnosticoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
