@model IEnumerable<SaludPublica.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Crear Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.PacienteID">Detalles</a> |
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.PacienteID">Editar</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PacienteID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
