@model IEnumerable<SaludPublica.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroDeCasa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PacienteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PacienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
